<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Github url:</strong>
  <%= @project.github_url%>
</p>

<p>
  <strong>Author:</strong>
  <%= @project.author_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Add Bug', new_bug_path(project_id: @project.id) %>

<br>
<br>

<% @bugs.each do |bug| %>
  <%if bug.project == @project %>
    <tr>
      <td><%= bug.title %></td>
    </tr>
    <% end %>
<% end %>